<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Educación</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="card-text">titulo programacion</p>
          <p class="card-text"><small class="text-muted">UNLZ.</small></p>
          <p class="card-text"><small class="text-muted">universitario</small></p>
          <p class="card-text"><small class="text-muted">año comienzo. año egreso.</small></p>
        </li>
        <li class="list-group-item">
          <p class="card-text">titulo informatica.</p>
          <p class="card-text"><small class="text-muted">Almafuerte Nro 8.</small></p>
          <p class="card-text"><small class="text-muted">secundario</small></p>
          <p class="card-text"><small class="text-muted">año comienzo. año egreso.</small></p>
        </li>
      </ul>
    </div>
</div>