.input-w{
    width:200px;
}

.blanco{
    color: white;
}

.fondo{
    color: #ffffff;
    background-color: #15233D;
}

.boton-edit{
    color: #ffffff;
    background-color: #71A3EC;
}

.boton-login{
    background-color: white;
}

.boton{
    margin: 0px 10px 0px 0px;
}

.icono{
    margin: 0px -12px 0px -12px;
}

.fondo2{
    color: #0768c4;
    background-color: #052d61;
    background-color: #161309;
}