.blanco{
    color: white;
}

.fondo{
    color: #ffffff;
    background-color: #090b16;
}

.boton{
    color: #ffffff;
    background-color: #052d61;
}

.fondo2{
    color: #0768c4;
    background-color: #052d61;
    background-color: #161309;
}