<div class="card mb-3">
    <div class="card-body">
      <div class="hstack gap-3">
        <div class="me-auto">
          <h5 class="card-title">Proyectos</h5>
        </div>
        <div>
          <!--BOTON PARA AGREGAR UNO NUEVO-->
          <app-buttom-add></app-buttom-add>
        </div>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let projects of projectList">
          <div class="hstack gap-3">
            <div class="me-auto">
              <p class="card-text">{{projects.projectname}}</p>
            </div>
            <div>
              <!--BOTON PARA EDITAR-->
              <app-buttom-edit></app-buttom-edit>
            </div>
            <div>
              <!--BOTON PARA BORRAR-->
              <app-buttom-del></app-buttom-del>
            </div>
          </div>
          <p class="card-text"><small class="text-muted">{{projects.details}}</small></p>
        </li>
      </ul>
    </div>
</div>