<input 
    id="edit-puesto" 
    oninput="tomarTexto(this.value)" 
    type="text"
    class="form-control a-c" 
    placeholder="{{miPortfolio.experiencia.puesto}}" 
    aria-label="Recipient's username with two button addons"
>
<input 
    id="edit-empresa" 
    oninput="tomarTexto(this.value)" 
    type="text"
    class="form-control a-c" 
    placeholder="{{miPortfolio.experiencia.empresa}}" 
    aria-label="Recipient's username with two button addons"
>
<input 
    id="edit-fechas" 
    oninput="tomarTexto(this.value)" 
    type="text"
    class="form-control a-c" 
    placeholder="{{miPortfolio.experiencia.fechas}}" 
    aria-label="Recipient's username with two button addons"
>
<input 
    id="edit-descripcion" 
    oninput="tomarTexto(this.value)" 
    type="text"
    class="form-control a-c" 
    placeholder="{{miPortfolio.experiencia.descripcion}}" 
    aria-label="Recipient's username with two button addons"
>
<div class="d-grid gap-2 col-2 mx-auto a-c">
    <button 
        class="btn btn-outline-info" 
        type="button" 
        id="edit-btn-acept"
    >
    Aceptar
    </button>
    <button 
        class="btn btn-outline-info" 
        type="button" 
        id="edit-btn-cancel"
    >
    Cancelar
    </button>
</div>