h5{
    color: white;
}

p{
    color: white;
}

div{
    background-color: #090b16;
}

li{
    background-color: #090b16;
}

.bg-progres{
    background-color: #1d1c2c;
}

.color-progres{
    color: #0768c4;
    background-color: #052d61;
}