<div class="card mb-3">
    <img [src]="miPortfolio.header.banner" class="img-fluid" alt="Oficina en departamento de piso alto con ventana" style="object-fit: cover; height:460px;">
    <img [src]="miPortfolio.header.avatar" class="rounded-circle" style="float:left; width:180px; height:180px; position:absolute; top:350px" alt="Foto de cara">
    <div class="card-body" style="margin-top:60px;">
      <h5 class="card-title">{{miPortfolio.header.nombre}}</h5>
      <p class="card-text">{{miPortfolio.header.titulo}}</p>
      <p class="card-text"><small class="text-muted">{{miPortfolio.header.lugar}}</small></p>
      <p class="card-text">{{miPortfolio.header.acercade}}</p>
    </div>
</div>