<div class="card mb-3">
    <img [src]="miPortfolio.header.banner" class="img-fluid banner" alt="Oficina en departamento de piso alto con ventana">
    <img [src]="miPortfolio.header.avatar" class="rounded-circle avatar" alt="Foto de cara">
    <div class="card-body" style="margin-top:60px;">
      <div class="hstack gap-3">
        <div class="me-auto">
          <h4 class="card-title" id="text-nombre">{{miPortfolio.header.nombre}}</h4>
        </div>
        <div>
          <app-buttom-edit onclick="cambiar_parrafo()"></app-buttom-edit>
        </div>
      </div>
      <p class="card-text" id="text-titulo">{{miPortfolio.header.titulo}}</p>
      <p class="card-text" id="text-residencia"><small class="text-muted">{{miPortfolio.header.residencia}}</small></p>
      <p class="card-text" id="text-acercade"><small class="text-muted">{{miPortfolio.header.acercade}}</small></p>
      <app-header-edit></app-header-edit>
    </div>
</div>
