/* You can add global styles to this file, and also import other style files */

.unaClase {color: red;}

#unID {color:sandybrown;}

.back-color{
    background-color: #F9FFE5;
}

h5{
    color: white;
}

p{
    color: white;
}

.boton{
    margin: 0px 10px 0px 0px;
}

.icono{
    margin: 0px -12px 0px -12px;
}